
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Safari Trip Management</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
</head>
<body>
<h1>Safari Trip Management</h1>
<p>Welcome. Use the menu to navigate.</p>
<ul>
    <li><a th:href="@{/bookings}">Bookings</a></li>
    <li><a th:href="@{/trips}">Trips</a></li>
    <li><a th:href="@{/vehicles}">Vehicles</a></li>
    <li><a th:href="@{/guides}">Guides</a></li>
    <li><a th:href="@{/payments}">Payments</a></li>
    <li><a th:href="@{/feedback}">Feedback</a></li>
</ul>
</body>
</html>